body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    margin-top: 30px;
  }
  
  .sidebar {
    flex-basis: 25%;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .main {
    flex-basis: 75%;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .film.item {
    cursor: pointer;
  }
  
  .sold-out {
    text-decoration: line-through;
  }
  
  .details {
    margin-top: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  #buy-ticket-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #delete-movie-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  